config network
    option broadcast_ip '10.0.0.255'
    option broadcast_port '1025'
    option multicast '0'
    option shared_key 'Niiiiiiiiiiiiiik'
    option iv 'Niiiiiiiiiiiiiik'

config ordering
    option sort_order 'csfb'

config hostapd
    option hostapd_dir '/var/run/hostapd'

config times
    option update_client        '10'
    option remove_client        '120'
    option remove_probe         '120'
    option remove_ap            '460'
    option update_hostapd       '10'

config metric
    option ht_support           '10'
    option vht_support          '100'
    option no_ht_support        '0'
    option no_vht_support       '0'
    option rssi                 '0'
    option low_rssi             '0'
    option freq                 '100'
    option chan_util            '0'
    option max_chan_util        '0'
    option rssi_val             '-60'
    option low_rssi_val         '-80'
    option chan_util_val        '140'
    option max_chan_util_val    '170'
    option min_probe_count      '4'
    option bandwith_threshold   '6'
    option use_station_count    '1'
    option eval_probe_req       '1'