config settings network
	option broadcast_ip '225.0.0.37'
	option broadcast_port '1025'
	option multicast '1'
	option shared_key 'Niiiiiiiiiiiiiik'
	option iv 'Niiiiiiiiiiiiiik'

config settings ordering
    option sort_order 'csfb'

config settings hostapd
	option hostapd_dir '/var/run/hostapd'

config settings times
	option update_client    '50'
	option remove_client    '120'
	option remove_probe     '120'
	option remove_ap        '460'
	option update_hostapd   '10'

config settings metric
	option ht_support       '10'
    option vht_support      '50'
    option no_ht_support    '0'
    option no_vht_support   '0'
    option rssi             '10'
    option low_rssi        '-500'
    option freq             '100'
    option chan_util        '50'
    option max_chan_util    '-50'
    option rssi_val         '-60'
    option low_rssi_val     '-80'
    option chan_util_val    '140'
    option max_chan_util_val '170'
    option min_probe_count  '2'
    option bandwith_threshold '6'
